################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessEntity/bin/Debug/netcoreapp2.2
/BusinessEntity/obj
/BusinessLogic/bin/Debug/netcoreapp2.2
/BusinessLogic/obj
